@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-brand-cream text-brand-dark font-sans antialiased;
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-brand-cream;
}
::-webkit-scrollbar-thumb {
  @apply bg-brand-accent/50 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-brand-accent;
}

.text-balance {
  text-wrap: balance;
}
